<h2>Plays</h2>

<ul>
  {{#each model as |play|}}
    <li>
      {{play.song.artists.firstObject.name}}
      {{#if play.song.title}}
        {{play.song.title}}
      {{else}}
        {{play.song.slug}}
      {{/if}}
    </li>
  {{/each}}
</ul>

{{outlet}}
